<<<<<<< HEAD
.box {
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    position: relative
}
.big {
=======
.box{
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    position: relative;
}

.big{
>>>>>>> c2db7518e1bd68cc4508755af6e9e37347b6a7e4
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 360px;
    border: 1px solid #ccc;
    overflow: hidden;
<<<<<<< HEAD
    display: none
}
.mask {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none
}
.small {
    position: relative
}
.box img {
    vertical-align: top
}
#bigBox img {
    position: absolute
=======
    display: none;
}

.small{
    position: relative;
}

.box img{
    vertical-align: top;
    vertical-align: top;
}

#bigBox{
    position: absolute;
>>>>>>> c2db7518e1bd68cc4508755af6e9e37347b6a7e4
}